* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  color: rgba(42, 29, 181, 0.623);
  padding-bottom: 20px;
  font-weight: 900;
}

.status {
  color: rgba(2, 7, 60, 0.62);
}

.detail-weather {
  font-size: x-large;
}

.date, .clock {
  font-size: small;
  color: rgba(2, 7, 60, 0.62);
}